<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<span th:substituteby="commons :: common-css"></span>
</head>
<body th:with="isNew=${#numbers = (product.pid)}">
	<div class="container">
		<div class="row">
			<div class="col-md-12 header-area">
				<a th:href="@{/product}"><h1>Product Information</h1></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 menu-area">
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav">
								<li class="active"><a th:href="@{/product}"><i class="fa fa-home"></i> Home</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 content-area">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Product Form</h4>
					</div>
					<div class="panel-body">
						<form th:action="@{/product}" method="post" th:object="${product}">
							<div class="form-group" th:if="${isNew != 0}">
								<label>Product ID</label> <input type="text" th:field="*{pid}" class="form-control" placeholder="Product ID" />
							</div>
							<div class="form-group">
								<label>Product Name</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('pname')}" th:errors="*{pname}"></span> <input type="text" th:field="*{pname}" class="form-control" placeholder="Product name" />
							</div>
							<div class="form-group">
								<label>Price</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span> <input type="text" th:field="*{price}" class="form-control" placeholder="Product price" />
							</div>
							<div class="form-group">
								<label>Quantity</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('qty')}" th:errors="*{qty}"></span> <input type="text" th:field="*{qty}" class="form-control" placeholder="Product quantity" />
							</div>
							<button th:if="${isNew == 0}" type="submit" class="btn btn-success">
								<i class="fa fa-save"></i> Save
							</button>
							<button th:if="${isNew != 0}" type="submit" class="btn btn-warning">
								<i class="fa fa-refresh"></i> Update
							</button>
						</form>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		<div class="row" th:if="${isNew == 0}">
			<div class="col-md-12">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4>Product Lists</h4>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Product Name</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product,sno : ${products}">
									<td th:text="${sno.count}"></td>
									<td th:text="${{product.pname}}"></td>
									<td th:text="${{product.price}}"></td>
									<td th:text="${{product.qty}}"></td>
									<td><a th:href="@{/product/} + ${product.pid}" class="btn btn-primary"><i class="fa fa-edit"></i></a> <a onclick="return confirm('Are you sure to delete this item?')" th:href="@{/product/deleteProduct/} + ${product.pid}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>
	<span th:substituteby="commons :: common-js"></span>
</body>
</html>